@media (min-width: 785px) and (max-width: 980px) {
  .navbar-brand {
    margin-left: 9%;
  }
  .container {
    margin-left: 5%;
  }
}

@media screen and (min-width: 640px) and (max-width: 785px) {
  .navbar-brand {
    margin-left: 4%;
  }
}

@media (max-width: 640px) {
  .navbar {
    margin: 0;
    padding: 0;
  }

  .navbar-brand {
    height: 100%;
    width: 100%;
    text-align: center;
  }

  .navbar-nav {
    height: 50%;
    margin-left: 0;
    margin-right: 0;
  }

  .nav-item {
    display: inline;
  }

  .col {
    width: 100%;
  }

  img {
    width: 100%;
    padding-bottom: 10px;
  }
}
