.main2 {
    padding: 15px 25px;
}

.main3 {
    width: 680px;
    margin: auto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* how much each column takes */
    grid-column-gap: 10px; 
    grid-row-gap: 20px;
    grid-auto-rows: auto;
    margin: 30px 20px;
}

.gridItem {
    position: relative;
    text-align: center;
}

.gridItem p {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background-color: #4aaaa5;
    color: #fff;
    padding: 4px 15px;
    z-index: 1;
}

.gridItem #github {
    position: absolute;
    top: 10%;
    left: 90%;
    transform: translate(-50%, -50%);
}

.gridItem i {
    color: #4aaaa5;
    background-color: white;
    padding: 2px;
    border-radius: 20px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
  }

.gridItem:hover .overlay {
    opacity: 1;
}

.gridItem p:hover {
    background-color: #666666;
}

.gridItem i:hover {
    color: #666666;
}